@charset "UTF-8";
body { margin: 0 }
.app {
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    width:90%;
    max-width:600px;
    border-radius:5px;
    background:#fff
}

.btn-more {
    box-sizing: border-box;
    width:100%;
    margin:5px 0;
    padding: 5px;
}

.comment {
    background:#eee;
    border-radius:5px;
    margin:10px 0;
    padding:10px
}
.comment .info {
    font-size:0.8em;
    color:#999
}

.form {
    margin: 20px 0
}
.form label {
    font-weight:bold
}
.form input.text {
    display:block;
    margin: 5px 0;
    width:100%;
    box-sizing: border-box;
}
